/** Colors for template */
/** Black & white, shades of grey */
$black: #000;
$darkGrey: #434343;
$white: #fff;

/** Yeallow & orange */
$peach: #ffb399;
$peachDark: #ea9679;

$transparent: transparent;
