@import "./variables.scss";
@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: $fontSize;
  font-family: $ptSansFont;
}

main {
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative;
}

h2 {
  font-family: $greatVibes;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 1.2px;
  line-height: 3rem;
  margin: 1rem 0;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

label {
  margin-bottom: calc(#{$fontSize} - 8px);
  display: block;
  width: 100%;
}
